<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851075424754-7n4sefeie5cpi7l1k4bcfpdso1koiu2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851075424754-7n4sefeie5cpi7l1k4bcfpdso1koiu2v</string>
	<key>API_KEY</key>
	<string>AIzaSyCWlH7GmZNBzOKgSiAa5-4Je4FjOR17ZbM</string>
	<key>GCM_SENDER_ID</key>
	<string>851075424754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roberttaylor.Unicorn-Books</string>
	<key>PROJECT_ID</key>
	<string>unicornbookclub</string>
	<key>STORAGE_BUCKET</key>
	<string>unicornbookclub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851075424754:ios:87a73fc0f95b7e08ce8b6b</string>
</dict>
</plist>